:root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Jaro', 'serif';
  --background: #242424;
  --font-color: white;
  width: 100%;
}
#root{
  height: inherit
}
html{
  background: var(--background);
  height: 100%;
}
body{
  color: var(--font-color);
  height: inherit;
  padding: 0px;
  margin: 0px;
}
/* img{
  width: 100%;
} */
#header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.hidden{
  visibility: hidden;
}
.timer {
  display: flex;
  align-items: center;
}

#rootContainer{
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#rootContainer>div{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
#popup {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: rgba( 255, 150, 150, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.5px );
  -webkit-backdrop-filter: blur( 5.5px );
  border-radius: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: fit-content;
  max-height: fit-content;
}
#popup>p {
  font-size: larger;
}
#popup>div{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
#popup >div>img {
  border-radius: 10px;
  cursor: pointer;
}
#indexContainer {
  position: relative;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  background: rgba(8, 8, 8, 0.7);
  padding: 25px;
  border-radius: 10px;
}
#indexContainer>form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#indexContainer>form>div{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer{
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  justify-content: center;
}